@model Spitfire.Library.Models.Core.Scaffolding.Row
<div class="row @Model.CssClass" style="background-image:url('@Model.BackgroundImgUrl');@Model.CssStyle">
    @Html.Sitecore().DynamicPlaceholder("row")
</div>