@using Sitecore.Mvc.Presentation
@model RenderingModel
<li class="span4">
    <figure class="featured-thumbnail thumbnail">
        <a href="/images/img-3.jpg" title="featured" rel="prettyPhoto-1030168181">
            <sc:image field="image" mw="370" mh="235" alt="featured" />
            <span class="zoom-icon"></span>
        </a>
    </figure>
    <div class="clear"></div>
    <h5>
        <a href="" title="featured">featured</a>
    </h5>
    <p class="excerpt">
        <a href="" title="featured"><sc:text field="summary" /></a>
    </p>
    <a href="" class="btn btn-primary" title="featured">See all</a>
</li>