<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <fieldFallback>
        <processor type="FieldFallback.Processors.AncestorFallbackProcessor, FieldFallback.Processors" />
        <processor type="FieldFallback.Processors.LateralFieldFallbackProcessor, FieldFallback.Processors" />
        <processor type="FieldFallback.Processors.DefaultFieldFallbackProcessor, FieldFallback.Processors" />
        <processor type="FieldFallback.Processors.TranslationProcessor, FieldFallback.Processors.Globalization">
          <param name="masterLanguageName" desc="The character code for the master language that is the source of all translation">en</param>
          <param name="supportedLanguages" desc="The list of languages that can be translated">ar,bg,ca,cs,da,de,el,en,es,et,fa,fi,fr,he,hi,ht,hu,id,it,ja,ko,lt,lv,ms,mww,nl,no,pl,pt,ro,ru,sk,sl,sv,th,tr,uk,ur,vi,zh-CHS,zh-CHT</param>
          <EnableNestedFallback>true</EnableNestedFallback>
          <TranslationService type="FieldFallback.Processors.Translation.MicrosoftTranslator, FieldFallback.Processors.Globalization">
            <param name="accountKey" desc="The Account Key for the Microsoft Translation service">T55vXqq941X+UN4V7Uln4S4kF+3XtCexo1vOBLZ3RKs</param>
          </TranslationService>
        </processor>
        <processor patch:before="*[1]" type="FieldFallback.Processors.Globalization.PartialLanguageFallbackProcessor, FieldFallback.Processors.Globalization">
          <EnableNestedFallback>true</EnableNestedFallback>
        </processor>
      </fieldFallback>
    </pipelines>
    <!--<standardValues>
      <providers>
        <add name="fallback" type="FieldFallback.Data.FallbackValuesProvider, FieldFallback.Kernel">
          <param patch:after="*[1]" name="sites" desc="Pipe separated list of the sites that support fallback">shell|system|website|microsoft</param>
        </add>
      </providers>
    </standardValues>-->
  </sitecore>
</configuration>