<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-"/>
    </encodeNameReplacements>
    <settings>
      <setting name="Media.RequestExtension" set:value="" />
      <setting name="Media.RequestProtection.SharedSecret" set:value="sitecore is awesome" />
    </settings>
    <switchingProviders>
      <membership>
        <provider providerName="crm" storeFullNames="false" wildcard="%" domains="crm" />
      </membership>
      <roleManager>
        <provider providerName="crm" storeFullNames="false" wildcard="%" domains="crm" />
      </roleManager>
      <profile>
        <provider patch:before="*[1]" providerName="crm" storeFullNames="false" wildcard="%" domains="crm" />
      </profile>
    </switchingProviders>
    <pipelines>
      <mvc.getPageRendering>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']"
                   type="Spitfire.Library.MySitecore.Pipelines.GetPageRendering.AddAssets, Spitfire.Library" />
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>