<div class="top-banner">
    <div class="region region-top-banner">
        <div id="block-block-19" class="block block-block">
            <div class="content">
                <!-- pos=501 -->
                <div id="div-gpt-ad-slot-501">
                    @Html.Sitecore().BeginField("Link", Model.Item)
                    @Html.Sitecore().Field("Image", Model.Item, new { @class = "img-responsive", @style = "margin:auto;width:auto" })
                    @Html.Sitecore().EndField()
                </div>
            </div>
        </div>
    </div>
</div>