@using Spitfire.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<!-- BEGIN RECENT WORKS -->
<div class="row recent-work margin-bottom-40">
    <div class="col-md-12">
        <div class="owl-carousel owl-carousel3">
            @foreach (Item item in Model.Item.Children.Where(x => x["ShowInNavigation"] == "1"))
            {
                <div class="recent-work-item">
                    <em>
                        <a href="@item.Url()">
                            @Html.Sitecore().Field("image", item, new { @class = "img-responsive" })
                        </a>
                    </em>
                    <a href="@item.Url()" class="recent-work-description">
                        <strong style="text-align: center;">@Html.Sitecore().Field("Title", item)</strong>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<!-- END RECENT WORKS -->	