@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Spitfire.Library.Constants
@model RenderingModel
@{
    var news = Sitecore.Context.Database.GetItem(ItemConstants.Prudential.NewsRoot);

    if (news != null)
    {
        <div id="block-views-news-listing-block-1" class="block block-views">

            <h2 class="block-title"><span>Prudential Bluesfest News</span></h2>

            @foreach (Item item in news.Axes.GetDescendants().Where(x => x.TemplateID == TemplateIds.Prudential.NewsTemplate).OrderByDescending(x => x["date"]))
            {
                <div class="content">
                    <div class="view view-news-listing view-id-news_listing view-display-id-block_1 view-dom-id-09de5af07726a2323d6cd7a7dab31605 jquery-once-1-processed">
                        <div class="view-content">
                            <div class="views-row views-row-1 views-row-odd views-row-first">
                                <div class="views-field views-field-field-summary">
                                    <div class="field-content">
                                        <a href="https://www.prudentialbluesfest.co.uk/news/tom-jones-and-van-morrison-team-prudential-bluesfest">
                                            Three-day festival announces a unique, one-off double bill featuring two of music’s most iconic figures and...
                                        </a>
                                    </div>  
                                </div>
                                <div class="views-field views-field-nothing">
                                    <span class="field-content">
                                        <a href="https://www.prudentialbluesfest.co.uk/news/tom-jones-and-van-morrison-team-prudential-bluesfest" class="news-arrow">
                                            <span>Read full story</span>
                                        </a>
                                    </span>  
                                </div>
                            </div>
                        </div>

                        <div class="view-footer">
                            <p><a href="/news" class="btn btn-blue"><span>All News</span></a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
