@model Spitfire.Library.Models.Core.Components.Headers.SectionHeader

<div class="wow fadeInDown">
    <h1>@Html.Sitecore().Field("Header", Model.Item)</h1>

    @{
        if (Model.ShowButton)
        {
            <hr class=" colored">
            @Html.Sitecore().Field("Link", Model.Item, new { @class = "btn btn-outline-light page-scroll" })
        }
        else
        {
            <p>@Html.Sitecore().Field("Description", Model.Item)</p>
            <hr class="colored">
        }
    }
</div>
