body {
    background-color: #f1ede2;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #f58220;
    margin-top: 20px;
    margin-bottom: 10px;
}

    h2.block-title {
        font-size: 40px;
    }

#block-views-news-listing-block-1 {
    text-align: center;
    text-transform: uppercase;
    background: url(/Content/images/bg-texture.png);
    background-color: #003946;
}

    #block-views-news-listing-block-1 .views-field-field-summary a {
        color: #f1ede2;
        line-height: 1.1em;
        font-weight: bold;
        font-size: 18px;
    }

    #block-views-news-listing-block-1 .views-field-nothing a {
        background: url(/Content/images/arrow-point-right.png) no-repeat;
        width: 40px;
        height: 20px;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    #block-views-news-listing-block-1 .views-field-field-summary a:hover, #block-views-news-listing-block-1 .views-field-field-summary a:focus {
        color: #e9e2d1;
        text-decoration: none;
    }

    #block-views-news-listing-block-1 .views-field-nothing a span {
        display: none;
    }

    #block-views-news-listing-block-1 .btn-blue {
        width: 100%;
        display: block;
    }

.btn-blue span {
    background: url(/Content/images/arrowright-cream.png) no-repeat 100% 35%;
    background-size: 17px;
    padding-right: 25px;
    display: inline-block;
}

.btn-blue {
    color: #f1ede2;
    background-color: #003946;
    border-color: #003946;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #f1ede2;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    background-image: url(/Content/images/bg-texture.png);
    line-height: 1;
}

nav .navbar-brand {
    height: auto;
}

.body-wrapper:before {
    top: 0;
    background: url(/Content/images/bg-top.png);
    background-repeat: repeat-x;
}

.body-wrapper {
    position: relative;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    background: url(/Content/images/bg-texture.png);
}

    .body-wrapper:after {
        bottom: 0;
        background: url(/Content/images/bg-top.png) bottom;
        background-repeat: repeat-x;
        -moz-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);
        -ms-filter: flipv;
        filter: flipv;
    }

    .body-wrapper:before, .body-wrapper:after {
        content: "";
        display: block;
        width: 100%;
        z-index: -50;
        position: absolute;
        height: 327px;
    }

@media (min-width: 1200px) {
    .btn-blue {
        font-size: 33px;
        padding-top: 20px;
        padding-bottom: 14px;
    }
}

@media (min-width: 992px) {
    .btn-blue {
        font-size: 27px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .btn-blue {
        font-size: 26px;
        padding-top: 10px;
        padding-bottom: 6px;
    }
}
