<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="packageInstallation" type="Sitecore.Ship.Infrastructure.Configuration.PackageInstallationConfiguration, Sitecore.Ship.Infrastructure" xdt:Transform="Insert"/>
  </configSections>
  <packageInstallation enabled="true" allowRemote="false" allowPackageStreaming="false" recordInstallationHistory="false" xdt:Transform="Insert" />
  <appSettings>
    <add key="DeploymentToolAuthToken" value="0af795cd-123e-40d7-9ee4-90dda0665a7c" xdt:Transform="Insert" />
  </appSettings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
    <compilation optimizeCompilations="true" xdt:Transform="SetAttributes(optimizeCompilations)" />
    <httpHandlers>
      <add verb="*" type="Sitecore.Ship.AspNet.SitecoreShipHttpHandler, Sitecore.Ship.AspNet" path="/sitecore_ship/*" xdt:Transform="Insert" />
      <add verb="*" path="sitecore_ecm_speak_request.ashx" type="Sitecore.EmailCampaign.Speak.Server.RequestHandler, Sitecore.EmailCampaign.Speak.Server" xdt:Transform="Insert" />
    </httpHandlers>
    <membership>
      <providers>
        <add name="sitecore" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" realProviderName="switcher" />
        <add name="crm" type="CRMSecurityProvider.CRMMembershipProvider, CRMSecurityProvider"
          readOnly="false" connectionStringName="CRMConnString" applicationName="sitecore"
          minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0"
          passwordStrengthRegularExpression=".*" requiresUniqueEmail="false"
          passwordFieldName="new_sitecorepassword" autoCreatePasswordField="false" xdt:Transform="Insert" />
      </providers>
    </membership>
    <roleManager>
      <providers>
        <add name="sitecore" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" realProviderName="switcher" />
        <add name="crm" type="CRMSecurityProvider.CRMRoleProvider, CRMSecurityProvider" connectionStringName="CRMConnString" readOnly="false" xdt:Transform="Insert" />
      </providers>
    </roleManager>
    <profile xdt:Transform="SetAttributes" defaultProvider="switcher">
      <providers>
        <add name="crm" type="CRMSecurityProvider.CRMProfileProvider, CRMSecurityProvider" connectionStringName="CRMConnString" readOnly="false" xdt:Transform="Insert" />
      </providers>
      <properties>
        <!-- PERSONAL -->
        <add type="System.String" name="Firstname" customProviderData="crm|firstname" xdt:Transform="Insert"/>
        <add type="System.String" name="Surname" customProviderData="crm|lastname" xdt:Transform="Insert"/>
        <add type="System.String" name="JobTitle" customProviderData="crm|jobtitle" xdt:Transform="Insert"/>
        <add type="System.String" name="Phone" customProviderData="crm|telephone1" xdt:Transform="Insert"/>
        
        <!-- ADDRESS -->
        <add type="System.String" name="Address1" customProviderData="crm|address1_line1" xdt:Transform="Insert"/>
        <add type="System.String" name="Address2" customProviderData="crm|address1_line2" xdt:Transform="Insert"/>
        <add type="System.String" name="Address3" customProviderData="crm|address1_line3" xdt:Transform="Insert"/>
        <add type="System.String" name="City" customProviderData="crm|address1_city" xdt:Transform="Insert"/>
        <add type="System.String" name="Postcode" customProviderData="crm|address1_postalcode" xdt:Transform="Insert"/>
        <add type="System.String" name="Country" customProviderData="crm|address1_country" xdt:Transform="Insert"/>
        
        <!-- MARKETING -->
        <add type="System.String" name="DoNotEmail" customProviderData="crm|donotemail" xdt:Transform="Insert"/>
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="Sitecore.Ship" xdt:Transform="Insert" />
      <add name="Sitecore.Ship" verb="*" type="Sitecore.Ship.AspNet.SitecoreShipHttpHandler, Sitecore.Ship.AspNet" path="/sitecore_ship/*" xdt:Transform="Insert" />
      <add verb="*" path="sitecore_ecm_speak_request.ashx" type="Sitecore.EmailCampaign.Speak.Server.RequestHandler, Sitecore.EmailCampaign.Speak.Server" name="Sitecore.EmailCampaign.Speak.Server" xdt:Transform="Insert" />
    </handlers>
  </system.webServer>
</configuration>